<template>
    <div>
        <button type="button" @click="loginPage">Login</button>
        <button type="button" @click="registerPage">register</button>
    </div>
</template>

<script>
    export default {
        name: 'home',
        methods: {
            loginPage() {
                this.$router.push({ name: 'login' })
            },
            registerPage() {
                this.$router.push({ name: 'register' })
            }
        }
    }
</script>